@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-size: 100%;
  background-image: url("https://www.gadgetsnow.com/img/70334092/Master.jpg");
  font-family: "Roboto", sans-serif;
}
.chat__section {
  width: 1250px;
  max-width: 90%;
  margin: auto;
  background: #fff;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
.brand {
  /* padding: 20px; */
  margin: auto;
  background: #f1f1f1;
  /* display: flex; */
  align-items: center;
}
.brand h1 {
  text-transform: uppercase;
  font-size: 20px;
  color: #444;
  margin-left: 10px;
}
.message__area {
  height: 500px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding-top: 40px;
  background-image: url("https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png");
}
textarea {
  width: 100%;
  border: none;
  padding: 20px;
  font-size: 16px;
  outline: none;
  background: #fbfbfb;
}

.message {
  padding: 20px 10px;
  border-radius: 4px;
  margin-bottom: 40px;
  /* max-width: 300px; */
  position: relative;
}
.incoming {
  background: white;
  color: black;
  margin-right: auto;
}
.outgoing {
  background: #b9f09f;
  color: black;
  margin-left: auto;
}
.message h4 {
  position: absolute;
  top: -20px;
  left: 0;
  color: #333;
  font-size: 14px;
}
